@model IEnumerable<Nhom1_Pro.Models.Bill>

@{
    ViewData["Title"] = "ShowBillForUser";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayTao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayThanhToan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayShip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayNhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenNguoiNhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sdt)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.TienShip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoTienGiam)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.TongTien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrangThai)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                  
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayTao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayThanhToan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayShip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNguoiNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sdt)
                    </td>

                    <td>
                        @{
                            var culture = new System.Globalization.CultureInfo("vi-VN"); // Tạo đối tượng CultureInfo cho tiền tệ Việt Nam
                            var TienShip = string.Format(culture, "{0:N0} đ", item.TienShip); // Định dạng giá trị tiền tệ và thêm đơn vị VND
                            var TongTien = string.Format(culture, "{0:N0} đ", item.TongTien); // Định dạng giá trị tiền tệ và thêm đơn vị VND
                            var SoTienGiam = string.Format(culture, "{0:N0} đ", item.SoTienGiam); // Định dạng giá trị tiền tệ và thêm đơn vị VND
                        }
                        @Html.DisplayFor(modelItem => SoTienGiam)
                    </td>
                    <td>
                     
                        @Html.DisplayFor(modelItem => TienShip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => TongTien)
                    </td>
                    <td>
                        @(item.TrangThai == 0 ? "Đã hoàn thành" : "Chưa hoàn thành")
                    </td>
                    <td>
                        @Html.ActionLink("Chi Tiết", "ShowBillDetails", "Bill", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
