@model IEnumerable<Nhom1_Pro.Models.Bill>

@{
    ViewData["Title"] = "ShowBillForUser";
}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayTao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayThanhToan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayShip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayNhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TenNguoiNhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sdt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TongTien)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoTienGiam)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TienShip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MoTa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TrangThai)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayTao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayThanhToan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayShip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNguoiNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sdt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TongTien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoTienGiam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TienShip)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MoTa)
                    </td>
                    <td>
                        @(item.TrangThai == 0 ? "Đã hoàn thành" : "Chưa hoàn thành")
                    </td>
                    <td>
                        @Html.ActionLink("Chi Tiết", "ShowBillDetails", "Bill", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
