@model IEnumerable<AppData.Models.CartViewModel>

@{
    ViewData["Title"] = "ShowCart";

}

<section class=" h-custom">
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-center ">
            <div class="col">
                <div class="table-responsive" style="margin-bottom:20px">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="h5">GIỎ HÀNG</th>
                                <th scope="col">Thể loại</th>
                                <th scope="col">Giá bán</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Tạm tính</th>
                                <th scope="col">
                                    <a asp-controller="Cart" asp-action="DeleteAll" class="color">Xoá tất cả</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                var total = item.GiaBan * item.SoLuongCart;
                                <tr data-row-id="{{@item.Id}}">
                                    <th scope="row">
                                        <div class="d-flex align-items-center">
                                            <img src="~/assets/images/others/@item.LinkImage" class="img-fluid rounded-3"
                                                 style="width: 120px;">
                                            <div class="flex-column ms-4">
                                                <p class="mb-2">
                                                    <a style="text-decoration: none; font-size: 15px;">@Html.ActionLink(item.Name + "-" + item.Color + "-" + item.Size, "ChiTietSP", "Home", new { id = item.IdProduct }, new { @class = "color" })</a>
                                                </p>

                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-middle">
                                        <p class="mb-0" style="font-weight: 500; font-size: 15px;">@item.Material</p>
                                    </td>
                                    <td class="align-middle">
                                        <p class="mb-0" style="font-weight: 500; font-size: 15px;" name="giaBan">
                                            
                                            @string.Format("{0:N0}đ", item.GiaBan)
                                            
                                        </p>
                                    </td>
                                    <td class="align-middle">
                                            <div class="d-flex flex-row">
    <input min="0" name="quantity" value="@item.SoLuongCart" data-product-id="@item.IdProduct" data-cart-id="@item.Id" type="number" class="form-control form-control-sm soLuongDonHang" style="width: 60px; height: 10px" />
</div>
                                    </td>
                                    <td class="align-middle">
    <p class="mb-0" style="font-weight: 500; font-size: 15px;">
        <span id="giaban_@item.Id" name="tong">@string.Format("{0:N0}đ", item.GiaBan * item.SoLuongCart)</span>
    </p>
</td>
                                    <td class="align-middle">
                                        <p class="mb-0" style="font-weight: 500; font-size: 15px;">
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "color" })
                                        </p>
                                    </td>
                                </tr>
                            }
                            
                        </tbody>
                    </table>
                    <div style="text-align: right;">
                        <input id="voucherinput" style="font-size: 15px;border-radius:10px;border-color:#0d6efd;" placeholder="Mã giảm giá" name="voucher" oninput="voucher(this.value)"><br />
                        <label id="textvoucher" style="color:red"></label>
                    </div>
                </div>

                <div class="card shadow-2-strong mb-5 mb-lg-0" style="border-radius: 16px;">
                    <div class="card-body p-4">
                        <form asp-action="Pay" asp-controller="Bill">

                            <div class="row">
                                <div class="col-md-6 col-lg-4 col-xl-3 mb-4 mb-md-0">

                                    <div class="d-flex flex-row pb-3">
                                        <div class="d-flex align-items-center pe-2">
                                            <input class="form-check-input" type="radio" name="radioNoLabel"
                                                   id="radioNoLabel1v" value="" aria-label="..." checked />
                                        </div>
                                        <div class="rounded border w-100 p-3">
                                            <p class="d-flex align-items-center mb-0" style="font-size: 15px;">
                                                <i class="fab fa-cc-mastercard fa-2x text-dark pe-2">
                                                    
                                                </i>Thẻ Tín dụng/Ghi nợ
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row pb-3">
                                        <div class="d-flex align-items-center pe-2">
                                            <input class="form-check-input" type="radio" name="radioNoLabel"
                                                   id="radioNoLabel2v" value="" aria-label="..." />
                                        </div>
                                        <div class="rounded border w-100 p-3">
                                            <p class="d-flex align-items-center mb-0" style="font-size: 15px;">
                                                <i class="fab fa-cc-visa fa-2x fa-lg text-dark pe-2">
                                                    
                                                </i>Momo
                                            </p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row">
                                        <div class="d-flex align-items-center pe-2">
                                            <input class="form-check-input" type="radio" name="radioNoLabel"
                                                   id="radioNoLabel3v" value="" aria-label="..." />
                                        </div>
                                        <div class="rounded border w-100 p-3">
                                            <p class="d-flex align-items-center mb-0" style="font-size: 15px;">
                                                <i class="fab fa-cc-paypal fa-2x fa-lg text-dark pe-2">
                                                    
                                                </i>COD
                                            </p>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6 col-lg-4 col-xl-6">
                                    <div class="row">
                                        <div class="col-12 col-xl-12">
                                            <div class="form-outline mb-4 mb-xl-5">
                                                <input type="text" name="name" class="form-control form-control-lg"
                                                       siez="17" placeholder="Họ và Tên" required />
                                            </div>


                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <div class="form-outline mb-4 mb-xl-5" style="margin-top:-10px">
                                                <input type="email" id="typeText" class="form-control form-control-lg"
                                                       siez="17" placeholder="Email" />
                                            </div>
                                            <select id="tinh" class="select2" style="margin-right:30px;margin-top:-20px" required>
                                            </select>
                                            <select id="phuongXa" class="select2" style="margin-right:30px;margin-top:20px">
                                            </select>
                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <div class="form-outline mb-4 mb-xl-5" style="margin-top:-10px">
                                                <input type="number" name="phone" class="form-control form-control-lg"
                                                       placeholder="SĐT" size="7" minlength="10" maxlength="10" required />
                                            </div>
                                            <select id="quanHuyen" class="select2" style="margin-right:30px;margin-top:-20px" required>
                                            </select>
                                            <select id="dichvu" class="select2" style="margin-right:30px;margin-top:20px" required>
                                            </select>
                                        </div>
                                        @*<div class="col-12 col-xl-6">
                                            <div class="d-flex" style="margin-top:20px">
                                                <select id="phuongXa" class="select2" style="margin-right:30px">
                                                </select>

                                                <select id="dichvu" class="select2">
                                                </select>

                                            </div>
                                        </div>*@
                                        <div class="col-12 col-xl-12" style="margin-top:20px">
                                            <div class="form-outline mb-8 mb-xl-10">
                                                <input type="text" name="address" class="form-control form-control-lg"
                                                       size="17" placeholder="Địa chỉ chi tiết" style="height: 60px;" required />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-lg-4 col-xl-3">
                                    
                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-2" style="font-size: 15px;">Tạm tính</p>
                                        <p class="mb-2" style="font-size: 15px;" id="giahang">@string.Format("{0:N0}đ", Model.Sum(x => x.SoLuongCart * x.GiaBan))</p>
                                    </div>

                                    <div class="d-flex justify-content-between" style="font-weight: 500;">
                                        <p class="mb-0" style="font-size: 15px;">Shipping</p>
                                        <input name="phiship" id="divShippingFee1" hidden />
                                        <p class="mb-0" style="font-size: 15px;" id="divShippingFee">0đ</p>
                                    </div>

                                    <div class="d-flex justify-content-between" style="font-weight: 500;" id="voucherDiv">
                                        <p class="mb-0" style="font-size: 15px;">Voucher</p>
                                        <p class="mb-0" style="font-size: 15px;" id="vouc">0đ</p>
                                        <input name="voucher1" id="voucher1" value="Vouc11" hidden/>
                                    </div>

                                    <hr class="my-4">

                                    
                                    <div class="d-flex justify-content-between mb-4" style="font-weight: 500;">
                                        <p class="mb-2" style="font-size: 15px;">Tổng</p>
                                        <input class="mb-2" style="font-size: 15px;border:none" name="tongtien" id="totalAmount" hidden><p id="totalAmount1">@string.Format("{0:N0}đ", Model.Sum(x => x.SoLuongCart * x.GiaBan)) </p>
                                    </div>
                                    <button type="submit" class="btn btn-dark" onclick="kiemTraTuyChon()"style="width:100%;height:50px">
                                        
                                                Thanh toán
                                            
                                        </button>
                                    

                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    
    @*thành phố*@
    <script>
        var tongtien="";
        var ship="";
        var ship1=""
        var uudai="";
        var SUM="";
        $(document).ready(function () {
            const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/province';
            const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';

            axios.get(apiUrl, {
                headers: {
                    'Token': token
                }
            })
                .then(response => {
                    var selectElement = $('#tinh');
                    selectElement.empty();

                    selectElement.append($('<option>').val('').text('Chọn thành phố'));

                    $.each(response.data.data, function (index, item) {
                        selectElement.append($('<option>').val(item.ProvinceID).text(item.ProvinceName));
                    });

                    selectElement.val(selectElement.val()).trigger('change');
                })
                .catch(error => {
                    console.error(error);
                });
        });

    </script>

    @*huyện*@
    <script>
        $(document).ready(function () {
            $('#tinh').on('change', function () {
                const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/district';
                const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
                axios.get(apiUrl, {
                    headers: {
                        'Token': token
                    },
                    params: {
                        province_id: $('#tinh').val()
                    }
                })
                    .then(response => {
                        console.log(response.data.data);
                        var selectElement = $('#quanHuyen');
                        selectElement.empty();
                        selectElement.select2('val', null);
                        selectElement.trigger('change');
                        selectElement.append($('<option>').val('').text('Chọn huyện'));
                        $.each(response.data.data, function (index, item) {
                            selectElement.append($('<option>').val(item.DistrictID).text(item.DistrictName));
                        });
                        selectElement.val(selectElement.val()).trigger('change');
                    })
                    .catch(error => {
                        console.error(error);
                    });
            });
        });
    </script>
    
    @*xã*@
    <script>
        $(document).ready(function () {
            $('#quanHuyen').on('change', function () {
                if ($('#quanHuyen').val() === null) {
                    var selectElement = $('#phuongXa');
                    selectElement.append($('<option>').val('').text('Chọn xã'));
                    selectElement.val(selectElement.val()).trigger('change');
                }
                const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/master-data/ward';
                const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
                axios.get(apiUrl, {
                    headers: {
                        'Token': token
                    },
                    params: {
                        district_id: $('#quanHuyen').val()
                    }
                })
                    .then(response => {
                        console.log(response.data.data);
                        var selectElement = $('#phuongXa');
                        selectElement.empty();
                        selectElement.select2('val', null);
                        selectElement.trigger('change');
                        selectElement.append($('<option>').val('').text('Chọn xã'));
                        $.each(response.data.data, function (index, item) {
                            selectElement.append($('<option>').val(item.WardCode).text(item.WardName));
                        });
                        selectElement.val(selectElement.val()).trigger('change');
                    })
                    .catch(error => {
                        console.error(error);
                    });

            });
        });
    </script>

    @*dịch vụ*@
    <script>
        $(document).ready(function () {
            $('#phuongXa').on('change', function () {
                if ($('#quanHuyen').val() === null) {
                    var selectElement = $('#dichvu');
                    selectElement.append($('<option>').val('').text('Chọn dịch vụ'));
                    selectElement.val(selectElement.val()).trigger('change');
                }

                const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/available-services';
                const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
                axios.get(apiUrl, {
                    headers: {
                        'Token': token
                    },
                    params: {
                        shop_id: 705899,
                        from_district: 3440,
                        to_district: $('#quanHuyen').val()
                    }
                })
                    .then(response => {
                        console.log(response.data.data);
                        console.log($('#quanHuyen').val());
                        var selectElement = $('#dichvu');
                        selectElement.empty();
                        selectElement.select2('val', null);
                        selectElement.trigger('change');
                        selectElement.append($('<option>').val('').text('Chọn dịch vụ'));
                        $.each(response.data.data, function (index, item) {
                            selectElement.append($('<option>').val(item.service_id).text(item.short_name));
                        });
                        selectElement.val(selectElement.val()).trigger('change');
                    })
                    .catch(error => {
                        console.error(error);
                    });

            });
        });
    </script>

    @*phí ship*@
    <script>

        $(document).ready(function () {
            $('#dichvu').on('change', function () {
                var inputs = document.getElementsByClassName('soLuongDonHang');
                var sum = 0;

                for (var i = 0; i < inputs.length; i++) {
                    var inputValue = parseInt(inputs[i].value);
                    if (!isNaN(inputValue)) {
                        sum += inputValue;
                    }
                }

                var soLuongDonHang = sum;
                var length = soLuongDonHang * 20; // Giá trị mặc định cho chiều dài
                var width = soLuongDonHang * 15; // Giá trị mặc định cho chiều rộng
                var height = soLuongDonHang * 20;
                var weight = parseInt((length*width*height)/5000);
                if ($('#dichvu').val() != null) {
                    const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee';
                    const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
                    const shop_id = 705899;
                    axios.get(apiUrl, {
                        headers: {
                            'Token': token,
                            'shop_id': shop_id
                        },
                        params: {
                            service_id: $('#dichvu').val(),
                            insurance_value: $('#giahang').text().replace(/\D/g, ''),
                            coupon: null,
                            to_ward_code: $('#phuongXa').val(),
                            to_district_id: $('#quanHuyen').val(),
                            from_district_id: 3440,
                            weight: weight,
                            length: length,
                            width: width,
                            height: height
                        }
                    })
                        .then(response => {
                            console.log(response.data.data.service_fee);
                            $('#divShippingFee').text(response.data.data.service_fee.toLocaleString("vi-VN") + "đ");
                            $('#divShippingFee1').val(response.data.data.service_fee);
                            var giahangElement = document.getElementById("giahang");
                            var giahang = giahangElement.innerText.replace("đ", "").replace(/\,/g, "").replace(/\./g, "").trim();
                            giahang = parseInt(giahang);
                            var totalAmountElement = document.getElementById("totalAmount");
                            var tongTien = giahang + response.data.data.service_fee;
                            ship = response.data.data.service_fee;
                            tongtien = tongTien;
                            // Hiển thị tổng tiền
                            totalAmountElement.innerText = tongTien.toLocaleString("vi-VN") + "đ";
                            totalAmountElement.value = tongTien.toString();
                            // Hiển thị giá trị tổng trong phần "Thanh toán"
                            var totalAmountElement1 = document.getElementById("totalAmount1");
                            totalAmountElement1.innerText = tongTien.toLocaleString("vi-VN") + "đ";
                        })
                        .catch(error => {
                            console.error(error);
                        });
                }
            });
        });
    </script>

    @*tiền*@
    <script>
        function voucher(value){
            if(value!=null&&value.trim()!=""){
                var formData = new FormData();
                formData.append('ma', value);
                $.ajax({
                    url: 'https://localhost:7280/api/Voucher/' + value,
                    type: 'GET',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        if (result != undefined) {
                            $('#vouc').text("-"+result.MucUuDai.toLocaleString("vi-VN") + "đ");
                            $('#textvoucher').text("");
                            uudai = result.MucUuDai;
                            var totalAmountElement = document.getElementById("totalAmount");
                            var tongtien1 = tongtien - result.MucUuDai;
                            totalAmountElement.innerText = tongtien1.toLocaleString("vi-VN") + "đ";
                            totalAmountElement.value = tongtien1.toString();
                            var totalAmountElement1 = document.getElementById("totalAmount1");
                            totalAmountElement1.innerText = tongtien1.toLocaleString("vi-VN") + "đ";
                            var paymentAmountElement = document.getElementById("paymentAmount");
                            paymentAmountElement.innerText = tongtien1.toLocaleString("vi-VN") + "đ";

                            var voucherValue = document.getElementById("voucherinput").value;
                            document.getElementById("voucher1").value = voucherValue;
                        }
                        else {
                            $('#textvoucher').text("mã không hợp lệ");
                            $('#vouc').text("0".toLocaleString("vi-VN") + "đ");
                            var totalAmountElement = document.getElementById("totalAmount");
                            totalAmountElement.innerText = tongtien.toLocaleString("vi-VN") + "đ";
                            totalAmountElement.value = tongtien.toString();
                            var totalAmountElement1 = document.getElementById("totalAmount1");
                            totalAmountElement1.innerText = tongtien.toLocaleString("vi-VN") + "đ";
                            var paymentAmountElement = document.getElementById("paymentAmount");
                            paymentAmountElement.innerText = tongtien.toLocaleString("vi-VN") + "đ";

                            var voucherValue = document.getElementById("voucherinput").value;
                            document.getElementById("voucher1").value = "Vouc11";
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr.responseText);
                        console.log(status);
                        console.log(error);
                        console.log(xhr);
                    }
                });
            }else{
                $('#vouc').text("0".toLocaleString("vi-VN") + "đ");
                $('#textvoucher').text("");
            }
            

        }    
    </script>
    <script>
$(document).ready(function() {
  $('.soLuongDonHang').on('input', function() {
    var soLuong = $(this).val();
    var productId = $(this).data('product-id');
    var Idcart = $(this).data('cart-id');

    $.ajax({
      url: '/Cart/CapNhatSoLuong',
      method: 'POST',
      data: { productId: productId, soLuong: soLuong ,Idcart:Idcart},
      success: function(response1) {
                        var inputs = document.getElementsByClassName('soLuongDonHang');
                        var sum = 0;

                        for (var i = 0; i < inputs.length; i++) {
                            var inputValue = parseInt(inputs[i].value);
                            if (!isNaN(inputValue)) {
                                sum += inputValue;
                            }
                        }

                        var soLuongDonHang = sum;
                        var length = soLuongDonHang * 20; // Giá trị mặc định cho chiều dài
                        var width = soLuongDonHang * 15; // Giá trị mặc định cho chiều rộng
                        var height = soLuongDonHang * 20;
                        var weight = parseInt((length * width * height) / 5000);
                        if ($('#dichvu').val() != null) {
                            const apiUrl = 'https://online-gateway.ghn.vn/shiip/public-api/v2/shipping-order/fee';
                            const token = '1194852d-fde8-11ed-8a8c-6e4795e6d902';
                            const shop_id = 705899;
                            axios.get(apiUrl, {
                                headers: {
                                    'Token': token,
                                    'shop_id': shop_id
                                },
                                params: {
                                    service_id: $('#dichvu').val(),
                                    insurance_value: $('#giahang').text().replace(/\D/g, ''),
                                    coupon: null,
                                    to_ward_code: $('#phuongXa').val(),
                                    to_district_id: $('#quanHuyen').val(),
                                    from_district_id: 3440,
                                    weight: weight,
                                    length: length,
                                    width: width,
                                    height: height
                                }
                            })
                                .then(response => {
                                    console.log(response.data.data.service_fee);
                                    $('#divShippingFee').text(response.data.data.service_fee.toLocaleString("vi-VN") + "đ");
                                    $('#divShippingFee1').val(response.data.data.service_fee);
                                    ship1 = response.data.data.service_fee;
                                    var formattedPrice = response1.price;
                                    var formattedSum = response1.sum;
                                    var Sum = formattedSum + ship1 - uudai;
                                    SUM = Sum;
                                    $('#giaban_' + Idcart).text(formattedPrice);
                                    $('#giahang').text(formattedSum.toLocaleString("vi-VN") + "đ");
                                    $('#totalAmount').text(Sum.toLocaleString("vi-VN") + "đ");
                                    $('#totalAmount1').text(Sum.toLocaleString("vi-VN") + "đ");
                                    $('#paymentAmount').text(Sum.toLocaleString("vi-VN") + "đ");
                                })
                                .catch(error => {
                                    console.error(error);
                                });
                        }
        var formattedPrice = response1.price;
        var formattedSum = response1.sum;
        var Sum = formattedSum + ship - uudai;
        SUM =Sum;
        $('#giaban_' + Idcart).text(formattedPrice);
        $('#giahang').text(formattedSum.toLocaleString("vi-VN") + "đ");
        $('#totalAmount').text(Sum.toLocaleString("vi-VN") + "đ");
        $('#totalAmount1').text(Sum.toLocaleString("vi-VN") + "đ");
        $('#paymentAmount').text(Sum.toLocaleString("vi-VN") + "đ");

      },
      error: function(xhr, status, error) {
        // Xử lý lỗi nếu có
      }
    });
  });
});
</script>
<script>
  function kiemTraTuyChon() {
    var selectElement = document.getElementById("tinh");
    var huyenElement = document.getElementById("quanHuyen");
    var dichvuElement = document.getElementById("dichvu");
    var paymentAmount = document.getElementById("paymentAmount").textContent;
    
    if (selectElement.value === "" || huyenElement.value === ""||dichvuElement.value==="") {
      alert("Vui lòng chọn địa chỉ");
    }
  }
</script>
}