@model IEnumerable<AppData.Models.ProductDetailDTO>

<table class="table table-hover e-commerce-table dataTable no-footer">
    <thead>
        <tr role="row">
            <th>
                <div class="checkbox">
                    <input id="checkAll" type="checkbox" onclick="test(this)">
                    <label for="checkAll" class="m-b-0"></label>
                </div>
            </th>
            <th class="sorting">STT</th>
            <th class="sorting">Sản Phẩm</th>
            <th class="sorting">Loại</th>
            <th class="sorting">Màu sắc</th>
            <th class="sorting">Chất liêu</th>
            <th class="sorting">Kích thước</th>
            <th class="sorting">Giá Bán</th>
            <th class="sorting">Số lượng</th>
            <th class="sorting">Trạng thái</th>
            <th class="sorting"></th>
        </tr>
    </thead>
    <tbody>
        @{
            int Stt = 1;
        }
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="sorting_1">
                        <div class="checkbox">
                            <input id="check-item-@Stt" type="checkbox" data-id="@item.Id">
                            <label for="check-item-@Stt" class="m-b-0"></label>
                        </div>
                    </td>
                    <td>
                        @Stt
                    </td>
                    <td>
                        <div class="d-flex align-items-center">
                            @if (string.IsNullOrEmpty(item.LinkImage))
                            {
                                <a asp-action="Details" asp-route-id="@item.Id"><img class="img-fluid rounded" src="~/assets/images/others/banner-4.png" style="max-width: 60px" alt=""></a>
                            }
                            else
                            {
                                <a asp-action="Details" asp-route-id="@item.Id"><img class="img-fluid rounded" src="~/assets/images/others/@item.LinkImage" style="max-width: 60px" alt=""></a>
                            }
                            <h6 class="m-b-0 m-l-10">@item.Name</h6>
                        </div>
                    </td>
                    <td>@item.TypeProduct</td>
                    <td>@item.Color</td>
                    <td>@item.Material</td>
                    <td>@item.Size</td>
                    <td>@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", item.GiaBan).Replace(",00", "")</td>
                    <td>@item.SoLuongTon</td>
                    @if (item.TrangThai == 1)
                    {


                        <td class="sorting_1">
                            <div class="d-flex align-items-center">
                                <div class="badge badge-success badge-dot m-r-10"></div>
                                <div>Action</div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td class="sorting_1">
                            <div class="d-flex align-items-center">
                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                <div>No Action</div>
                            </div>
                        </td>
                    }

                    <td class="text-right">
                        <a class="btn btn-icon btn-hover btn-sm btn-rounded pull-right" asp-area="Admin" asp-controller="ProductDetail" asp-action="ViewEdit" asp-route-id="@item.Id">
                            <i class="anticon anticon-edit"></i>
                        </a>
                        <a class="btn btn-icon btn-hover btn-sm btn-rounded" asp-area="Admin" asp-controller="ProductDetail" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="anticon anticon-delete"></i>
                        </a>
                    </td>
                </tr>
                Stt++;
            }
        }
    </tbody>
</table>


<script>
    $(document).ready(function () {
        $('#checkAll').click(function () {
            var isChecked = $(this).is(':checked');
            var checkboxes = $('tbody input[type="checkbox"]');
            checkboxes.prop('checked', isChecked);
           
            var checkedValues = checkboxes.filter(':checked').map(function () {
                return $(this).attr('data-id');
            }).get();

            console.log(checkedValues);
        });
    });
</script>