@model IEnumerable<Nhom1_Pro.Models.Color>


<div class="app">
    <div class="layout">
        <!-- Header START -->
        <!-- Header END -->
        <!-- Side Nav START -->
        <!-- Side Nav END -->
        <!-- Page Container START -->
        <div class="container">
            <p>
                <a asp-action="Create">Create New</a>
            </p>
            <form class="d-flex" role="search">
                <div style="display:flex">
                    <button class="logo" value="Tìm kiếm" width="20px" style="border:none;color:white;background-color:black" ; type="submit">Tìm kiếm</button>
                    @Html.TextBox("search", "", new { @class = "form-control me-2", @type = "search" })
                </div>
            </form>
            <!-- Content Wrapper START -->
            <div class="main-content">
                <div class="page-header">
                    <h2 class="header-title">Orders List</h2>
                    <div class="header-sub-title">
                        <nav class="breadcrumb breadcrumb-dash">


                            <span class="breadcrumb-item active">Bill List</span>
                        </nav>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row m-b-30">
                            <div class="col-lg-8">
                                <div class="d-md-flex">
                                    <div class="m-b-10 m-r-15">

                                        <select class="custom-select" style="min-width: 180px;">
                                            <option selected>Status</option>
                                            <option value="all">Hoàn thành</option>
                                            <option value="homeDeco">Chưa hoàn thành</option>
                                        </select>
                                    </div>
                                    <form asp-controller="Bill" asp-action="ShowBillForAdmin">
                                        <div class="input-group" style="width:200px">
                                            <input type="text" class="form-control" name="searchString"
                                                   placeholder="Tìm kiếm...">

                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="submit" hidden>
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover e-commerce-table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Ma)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Ten)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TrangThai)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ma)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ten)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TrangThai)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                                                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                                                @Html.ActionLink("Delete", "Delete", new {  id=item.Id })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Wrapper END -->
            <!-- Footer START -->
            =
            <!-- Footer END -->

        </div>
        <!-- Page Container END -->
        <!-- Quick View END -->
    </div>
</div>


<!-- Core Vendors JS -->